img{
    width: 100px;
}
/* div#body{
    margin: 0px auto;
}
    form#reg{
        display: inline-block;
        vertical-align: top;
        margin: 0px 25px;
    }
        form#reg input{
            margin: 5px;
            display: block;
        }
    form#log{
        display: inline-block;
        vertical-align: top;
        margin-left: 25px;
    }
        form#log input{
            margin: 5px;
            display: block;
        }
form#post{
    display: inline-block;
}
form#song{
    display: inline-block;
} */