<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Music</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{% static 'style.css' %}"> -->
    <style>
        img{
            width: 150px;
        }
    </style>
</head>

<body>
    <div class="wrapper container bg-light">
        <nav class="navbar navbar-expand border-bottom">
            <div class="container">
                <div class="navbar">
                    <a class="navbar-brand" href="/home"><img src="..\static\music.gif" alt="Link to Home page"></a>
                </div>
                <div class="navbar">
                    <div class="col-5"></div>
                        <h3>Find Your Beat!</h3>
                    </div>
                    <div class="navbar">
                        <p>Please login or register to continue.</p>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container bg-light">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags}}"{% endif %}>{{message}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="row">
                <div class="col p-4 m-1">
                    <form action="/reg" method="POST">
                        {% csrf_token %}
                        <h3>Register</h3>
                        <div class="form-row">
                            <div class="form-group col-auto">
                                <input type="text" class="form-control" placeholder="First Name" required name="first_name">
                            </div>
                            <div class="form-group col-auto">
                                <input type="text" class="form-control" placeholder="Last Name" required name="last_name">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username" required name="username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" required name="password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Confirm Password" required name="confirm_pw">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email" required name="email_address">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="bio"cols="30" rows="2" placeholder="Write a bit about yourself and your music tastes..."></textarea>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-auto">
                                <label for="inputBirthday">Birthday</label>
                            </div>
                            <div class="form-group col-auto">
                                <input type="date" class="form-control" id="inputBirthday" required name=birthday>
                            </div>
                            <div class="form-group col-auto">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col p-4 m-1">
                    <form action="/login" method="POST">
                        {% csrf_token %}
                        <h3>Login</h3>
                        <div class="form-group col-auto">
                            <label for="inputUser4">Username</label>
                            <input type="text" class="form-control" id="inputEmail4" required name=username>
                        </div>
                        <div class="form-group col-auto">
                            <label for="inputPassword4">Password</label>
                            <input type="password" class="form-control" id="inputPassword4" required name=password>
                        </div>
                        <div class="form-group col-auto">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>