<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Music</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
    *{
        outline: 1px dotted red;
    }
    </style>
</head>
<body>
    <div class="wrapper container">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                    <div class="col">
                        <a class="navbar-brand" href="/home"><img src="static\music.gif" alt="Link to Home page"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <div class="col-5"></div>
                                    <h2>Welcome {{request.session.name}}!</h2>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="col"></div>
                                    <a href="/edit_prof/{{request.session.user_id}}" class="link">Edit Profile</a> | <a href="/logout">Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags}}"{% endif %}>{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="row">
            <div class="col">
                <div class="form-row">
                    <div class="form-group col auto">
                        <form action="/sign" method="POST" id="post">
                            {% csrf_token %}
                            <p>Search for songs to share in your post!</p>
                            <textarea name="q" placeholder="Search Spotify..." cols="30" rows="5"></textarea>
                            <input type="submit" value="Search">
                        </form>
                        <div class="row">
                            <ul>
                                {% for name in request.session.result %}
                                <li><a href="{{name.link}}">{{name.name}}</a></li>
                                {% endfor %}
                            </ul>
                            <!-- <p>{{spotify}}</p> -->
                        </div>
                    </div>
                    
                    <div class="form-group col auto">
                        <form action="/search" method="POST" id="song">
                            {% csrf_token %}
                            <textarea
                             placeholder="Create a post..." cols="30" rows="5" name="content"></textarea>
                            <input type="submit" value="Post">
                        </form>
                        <div class="row">
                            {% for post in posts %}
                            <ul>
                                <li>{{post.poster.first_name}} {{post.poster.last_name}} <br> {{post.content}}</li>
                                {% if post.poster.id == request.session.user_id %}
                                    <a href="/delete_post/{{post.id}}">Delete</a>
                                {% endif %}
                            </ul>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>